@import url("https://fonts.googleapis.com/css?family=Numans");

#borda,
#menu {
  background-color: #ff322b;
}

#fmc {
  font-size: x-large;
  color: #ff322b;
}
#logar {
  background-color:rgba(230, 231, 233, 0.63);
}
strong{
  color: #000;
}

table {
  max-width: none;
}
.form-group.required .control-label:after{
  color: red;
  content: "*";

}
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}

[style*="--aspect-ratio"] > img {  
  height: auto;
}

@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}