#printable, #printable *{
    visibility: hidden;
}
@media print{
    body *{
        visibility: hidden;
    }
    #printable, #printable *{
        visibility: visible;
    }
    #printable{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    html,body{
        height: 100%;
        width: 100%;
    }
}