body{
    background:#ccc url(http://localhost:8080/ProjetoFarmacia/Documentação/pulseiraTeste.png) center center no-repeat;
}
img {
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px; /* Half the height */
    margin-left: -250px; /* Half the width */
 }