body{
    background-color: #ccc;
}
#fita{
    min-width: 600px;
}

@media print{
    body{
        background: #ccc url(http://localhost:8080/ProjetoFarmacia/HTML/IMG/pulseiraTeste.png) top center no-repeat;
    }
    #fita{
        display: none;
    }
    #qrcode{
        margin-top: 600px;
    }
}